Repository riftvanta/tms062025: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, yarn-audit, license-check, eslint, prettier, typescript-check, dockerfile-lint, docker-security-scan

Path conditions:
  npm-audit: any of: ^package\.json$
  yarn-audit: any of: ^yarn\.lock$
  license-check: any of: ^package\.json$
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|scss|md|yml|yaml)$
  typescript-check: any of: \.(ts|tsx)$
  dockerfile-lint: any of: ^Dockerfile.*$
  docker-security-scan: any of: ^Dockerfile.*$

feat(mobile): implement comprehensive Mobile-PWA testing infrastructure
  .github/workflows/mobile-testing.yml
  .lighthouserc.json
  config/browserstack.config.js
  config/mobile-testing.config.js
  docs/mobile-testing-setup.md
  scripts/mobile-device-test.js
  scripts/responsive-design-test.js
  scripts/validate-accessibility.js
  scripts/validate-performance.js
Due: eslint, prettier

Initial Phase 1 setup: Next.js 15 + Firebase + TypeScript + Mobile-first PWA configuration
  .eslintrc.json
  .gitignore
  .prettierrc
  Development-Phases.md
  README.md
  app/globals.css
  app/layout.tsx
  app/page.tsx
  lib/auth.ts
  lib/firebase-admin.ts
  lib/firebase.ts
  lib/utils.ts
  next.config.js
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.js
  tsconfig.json
  types/index.ts
Due: npm-audit, license-check, eslint, prettier, typescript-check

Unify login: Single login button for both admin and exchange users + Fix Next.js warnings
  app/layout.tsx
  app/login/page.tsx
  app/page.tsx
  next-env.d.ts
  next.config.js
Due: eslint, prettier, typescript-check

🚀 Deploy: Firebase Hosting setup with GitHub Actions CI/CD
  .firebaserc
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  firebase.json
  package-lock.json
  package.json
Due: npm-audit, license-check, prettier

Fix GitHub Actions: Update workflow to use master branch
  .github/workflows/firebase-hosting-merge.yml
Due: prettier

✅ Phase 2 Complete: Authentication System
  app/admin/page.tsx
  app/api/auth/init/route.ts
  app/api/auth/login/route.ts
  app/api/auth/logout/route.ts
  app/api/auth/me/route.ts
  app/exchange/page.tsx
  app/layout.tsx
  app/login/page.tsx
  contexts/AuthContext.tsx
  hooks/useRequireAuth.ts
  lib/auth.ts
  middleware.ts
Due: eslint, prettier, typescript-check

Fix: Enable Cloud Functions API and simplify ESLint config
  .eslintrc.json
Due: prettier

Fix: Update Node.js engine to version 20 for Firebase Functions compatibility
  package.json
Due: npm-audit, license-check, prettier

feat: Implement Phase 3 - Database Schema & Models
  firestore.rules
  lib/db/README.md
  lib/db/banks.ts
  lib/db/index.ts
  lib/db/messages.ts
  lib/db/orders.ts
  lib/db/users.ts
  storage.rules
Due: eslint, prettier, typescript-check

fix: Add Firebase environment variables to GitHub Actions workflows
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: prettier

fix: Resolve Firebase deployment issues in GitHub Actions
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  firebase.json
Due: prettier
